### Folders for Git to ignore ###

# IntelliJ settings
.idea

# Eclipse (IDE) settings
.settings
/bin/

# Visual Studio settings
.vs

# Confidential Visual Studio settings
# see Startup.Auth_.cs for boilerplate Startup.Auth.cs

Startup.Auth.cs

# Visual Studio packages
packages

#Visual Studio binaries
bin
obj

# front-end test results
coverage

# node libraries
node_modules

# back-end build files (java)
target

### Files for Git to ignore ###

# IntelliJ settings
*.iml

# Visual Studio settings


# other

# application.properties should be ignored on a per-user basis; see ReadMe.md

