### Folders for Git to ignore ###

# IntelliJ settings
.idea

# Eclipse (IDE) settings
.settings
/bin/

# Visual Studio settings
.vs

# front-end test results
coverage

# node libraries
node_modules

# back-end build files
target

### Files for Git to ignore ###

# IntelliJ settings
*.iml

# Visual Studio settings
*.sln
*.suo

# other

# application.properties should be ignored on a per-user basis; see ReadMe.md

